Workflows/backup-workflows-to-github-0OMRju2tyRmpmzfN.json
{"createdAt":"2024-05-16T11:26:45.573Z","updatedAt":"2024-05-16T11:26:45.573Z","id":"0OMRju2tyRmpmzfN","name":"Backup workflows to GitHub","active":false,"nodes":[{"parameters":{"resource":"file","operation":"edit","owner":"YOUR_USERNAME","repository":"REPO_NAME","filePath":"={{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}} ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"GitHub Edit","type":"n8n-nodes-base.github","position":[1590,550],"typeVersion":1,"id":"3026cde3-ca4d-420c-a276-066147cca8cc"},{"parameters":{"resource":"file","operation":"get","owner":"YOUR_USERNAME","repository":"REPO","filePath":"/","asBinaryProperty":false,"additionalParameters":{}},"name":"Get Files","type":"n8n-nodes-base.github","position":[600,440],"executeOnce":true,"typeVersion":1,"alwaysOutputData":false,"id":"16fe1f2a-4d46-476b-a129-131630ad4141"},{"parameters":{"functionCode":"return items[0].json.map(item => {\n  return {\n    json: item\n  }\n});\n"},"name":"Transform","type":"n8n-nodes-base.function","position":[800,440],"typeVersion":1,"id":"b02ac623-f958-4789-9dbd-017262a73e4f"},{"parameters":{"resource":"file","owner":"YOUR_USERNAME","repository":"REPO","filePath":"={{$json[\"data\"][\"name\"]}}.json","fileContent":"={{JSON.stringify($node['Merge'].json[\"data\"])}}","commitMessage":"=[N8N Backup] {{$json.data[\"name\"]}}.json ({{new Date(Date.now()).toLocaleDateString()}})"},"name":"Create file","type":"n8n-nodes-base.github","position":[1640,220],"typeVersion":1,"id":"4c9972cc-8670-4964-886f-a031a42eb351"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.name","propertyName2":"data.name"},"name":"Merge","type":"n8n-nodes-base.merge","position":[1330,220],"typeVersion":1,"id":"413ae3eb-7d01-46da-bd7c-c197c9653a96"},{"parameters":{"authentication":"basicAuth","url":"http://localhost:5678/rest/workflows","options":{}},"name":"Get workflows","type":"n8n-nodes-base.httpRequest","position":[600,240],"typeVersion":1,"id":"1b54579e-5b57-4cd6-84dd-c80c12d3239d"},{"parameters":{"authentication":"basicAuth","url":"=http://localhost:5678/rest/workflows/{{$json[\"id\"]}}","options":{}},"name":"Get workflow data","type":"n8n-nodes-base.httpRequest","position":[1000,240],"typeVersion":1,"id":"5d51da7d-1c1c-43dd-b037-10be43e1a7ba"},{"parameters":{"authentication":"headerAuth","url":"={{$json[\"download_url\"]}}","responseFormat":"string","options":{}},"name":"Download Raw Content","type":"n8n-nodes-base.httpRequest","position":[1000,440],"typeVersion":1,"id":"90691adf-0a06-43f5-8f9b-eb10700e6780"},{"parameters":{"functionCode":"const newItems = [];\nfor (item of items[0].json.data) {\n  newItems.push({json: item});\n}\nreturn newItems;"},"name":"transform","type":"n8n-nodes-base.function","position":[790,240],"typeVersion":1,"id":"058ad233-ea87-4526-a6ed-a5594f3fa243"},{"parameters":{"triggerTimes":{"item":[{"hour":23,"minute":59}]}},"name":"Daily at 23:59","type":"n8n-nodes-base.cron","position":[380,240],"typeVersion":1,"id":"0ffb7ef0-1ab4-4b5b-bdd1-e14902368a9d"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"data.updatedAt","propertyName2":"data.updatedAt"},"name":"Merge1","type":"n8n-nodes-base.merge","position":[1370,550],"typeVersion":1,"id":"cdb70042-b6aa-4f43-b8c2-7359825f5428"}],"connections":{"Merge":{"main":[[{"node":"Create file","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"GitHub Edit","type":"main","index":0}]]},"Get Files":{"main":[[{"node":"Transform","type":"main","index":0}]]},"Transform":{"main":[[{"node":"Download Raw Content","type":"main","index":0}]]},"transform":{"main":[[{"node":"Get workflow data","type":"main","index":0}]]},"Get workflows":{"main":[[{"node":"transform","type":"main","index":0}]]},"Daily at 23:59":{"main":[[{"node":"Get workflows","type":"main","index":0}]]},"Get workflow data":{"main":[[{"node":"Merge","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Download Raw Content":{"main":[[{"node":"Merge","type":"main","index":1},{"node":"Merge1","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"1222"},"pinData":{},"versionId":"2b59c19d-55f2-4f99-9d1e-dda8f1020f39","triggerCount":0,"tags":[]}