Workflows/backup-github-PK69Sedq6fhdsHvx.json
{"createdAt":"2024-05-22T13:09:37.295Z","updatedAt":"2024-05-22T14:52:46.573Z","id":"PK69Sedq6fhdsHvx","name":"Backup GitHub","active":false,"nodes":[{"parameters":{},"id":"70260526-8e9d-4e70-a152-aaff641478de","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1059.2528427493457,1109.8065175238871]},{"parameters":{"options":{}},"id":"8692ce16-c1ed-46d4-85a8-db97cf287119","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1259.2528427493457,1109.8065175238871]},{"parameters":{"operation":"formatDate","date":"={{ $json.newDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"25cfa953-431f-4870-84c8-57ac6b193535","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1459.2528427493457,1109.8065175238871]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"dbb8a127-2480-4d94-bddd-4ad7069cf387","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1659.2528427493457,1109.8065175238871]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"Joao-Lucas-Freitas","mode":"name"},"repository":{"__rl":true,"value":"n8n-neuronio-backup","mode":"name"},"filePath":"=Workflows/"},"id":"f0e51b9e-f97d-4624-b5fa-1e168637a462","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1859.2528427493457,1109.8065175238871],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"VsyOGMd8UbJmlVP9","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"99b083f5-4687-494b-a93f-7bb634a1bfc4","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[2059.2528427493457,1109.8065175238871]},{"parameters":{"filters":{}},"id":"ed6ba658-c7c1-4878-9e35-bdb5d15a6c7b","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2259.2528427493457,1109.8065175238871],"credentials":{"n8nApi":{"id":"xhoakxkuKHeW1q6m","name":"n8n account 2"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"909f3cd2-d560-4cb3-b824-987dca8210f1","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2459.2528427493457,1109.8065175238871]},{"parameters":{"batchSize":1,"options":{}},"id":"e51a859c-e90f-43de-b156-17639c2aa015","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2699.2528427493457,1109.8065175238871]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"3f4d1b26-d630-44c0-a210-5a10d40dbada","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2939.2528427493457,1029.8065175238871]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"Joao-Lucas-Freitas","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/Joao-Lucas-Freitas/n8n-neuronio-backup/tree/f79561074f0f1c4ff1b53805d3d1e36dbb9e0f50/Workflows","mode":"url"},"filePath":"=Workflows/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"4447579d-0f31-4e06-938f-198cc95d0ba4","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3159.2528427493457,829.8065175238871],"credentials":{"githubOAuth2Api":{"id":"VsyOGMd8UbJmlVP9","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"Joao-Lucas-Freitas","mode":"name"},"repository":{"__rl":true,"value":"https://github.com/Joao-Lucas-Freitas/n8n-neuronio-backup/tree/f79561074f0f1c4ff1b53805d3d1e36dbb9e0f50/Workflows","mode":"url"},"filePath":"=Workflows/{{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1c69c31d-0cff-4c7d-ac5e-04329e5c5965","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[3159.2528427493457,1229.8065175238871],"credentials":{"githubOAuth2Api":{"id":"VsyOGMd8UbJmlVP9","name":"GitHub account"}}},{"parameters":{"operation":"addToDate","magnitude":"={{ $json.currentDate }}","timeUnit":"hours","duration":-3,"options":{}},"id":"653b5039-69ca-472b-846a-93ecc9d43163","name":"Date & Time","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[1360,860]}],"connections":{"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Format date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Sao_Paulo","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a6e816e-9b09-4b77-a7b9-34cba6fa6a57","triggerCount":0,"tags":[]}