Workflows/suporte-neurônio---func:-buscar_desbloqueio-Ec5vAJh1q66aJryo.json
{"createdAt":"2024-05-16T08:46:28.377Z","updatedAt":"2024-05-16T08:47:27.364Z","id":"Ec5vAJh1q66aJryo","name":"Suporte Neurônio - func: buscar_desbloqueio","active":false,"nodes":[{"parameters":{},"id":"ac191bb2-bce3-426c-9b13-b65ac6e6f343","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select eb.*\nfrom `IOT.EquipamentosModuloParaDesbloquear` eb\nwhere 1 = 1\nand eb.id = '{{ $json.properties.function.arguments.parseJson()['id'] }}'","options":{}},"id":"434ec068-a22d-4af6-9e3b-65a205f8a905","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[1020,200],"alwaysOutputData":true,"executeOnce":false,"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"554ec34c-e3a9-4b20-80cc-d100c29383f9","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1360,320],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fe6e8349-57ae-460a-b988-28ef432e7d29","leftValue":"={{ $json.arguments.numero_serie }}","rightValue":"blips_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"b88c79fc-eef8-49e6-a31b-d8c25b519a95","name":"É neurônio módulo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[760,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select eb.*\nfrom `IOT.EquipamentosParaDesbloquear` eb\nwhere 1 = 1\nand eb.numero_serie = '{{ $json.properties.function.arguments.parseJson()['numero_serie'] }}'","options":{}},"id":"4ccbc370-7404-4fcb-92c5-89e18f13e413","name":"Google BigQuery1","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[1020,460],"notesInFlow":false,"alwaysOutputData":false,"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"É neurônio módulo?","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"É neurônio módulo?":{"main":[[{"node":"Google BigQuery","type":"main","index":0}],[{"node":"Google BigQuery1","type":"main","index":0}]]},"Google BigQuery1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"properties":{"id":"call_3ZPPS15JMk3fXzxyTWz5j7Ub","type":"function","function":{"name":"buscar_desbloqueio","arguments":"{\"numero_serie\":\"11146811\"}"}},"arguments":{"numero_serie":"11146811"}}}]},"versionId":"180ba001-8df2-410e-bccc-85598f3d7a98","triggerCount":0,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}