Workflows/suporte-neurônio---func---buscar_bloqueio-5HQMC1PAswB0IGmH.json
{"createdAt":"2024-05-15T19:34:36.173Z","updatedAt":"2024-05-22T15:09:09.688Z","id":"5HQMC1PAswB0IGmH","name":"Suporte Neurônio - func - buscar_bloqueio","active":false,"nodes":[{"parameters":{},"id":"c7996763-b0d9-42c0-aa46-ef25708f01ac","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select eb.*\nfrom `IOT.EquipamentosModuloBloqueados` eb\nwhere 1 = 1\nand eb.id = '{{ $json.properties.function.arguments.parseJson()['id'] }}'","options":{}},"id":"7ead8ac3-6113-483a-9d83-7f655890bce3","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[1020,200],"alwaysOutputData":true,"executeOnce":false,"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"0cc22a44-f7f6-4e66-ba4c-082f43e11294","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1360,320],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fe6e8349-57ae-460a-b988-28ef432e7d29","leftValue":"={{ $json.arguments.numero_serie }}","rightValue":"blips_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"823175b5-ee71-499c-b282-08be2d6192dd","name":"É neurônio módulo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[760,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select eb.*\nfrom `IOT.EquipamentosBloqueados` eb\nwhere 1 = 1\nand eb.numero_serie = '{{ $json.properties.function.arguments.parseJson()['numero_serie'] }}'","options":{}},"id":"9532b746-5eba-4b1c-9eaa-54077c6540eb","name":"Google BigQuery1","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[1020,460],"notesInFlow":false,"alwaysOutputData":false,"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"É neurônio módulo?","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"É neurônio módulo?":{"main":[[{"node":"Google BigQuery","type":"main","index":0}],[{"node":"Google BigQuery1","type":"main","index":0}]]},"Google BigQuery1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"properties":{"id":"call_3ZPPS15JMk3fXzxyTWz5j7Ub","type":"function","function":{"name":"buscar_bloqueio","arguments":"{\"numero_serie\":\"11146811\"}"}},"arguments":{"numero_serie":"11146811"}}}]},"versionId":"e8b5d148-e2ed-43ae-91dd-cc92a7cf8d98","triggerCount":0,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}