Workflows/suporte-neurônio---func---buscar_cliente_modulo-82drAHmqIqCyB1HE.json
{"createdAt":"2024-05-16T08:51:22.616Z","updatedAt":"2024-05-22T15:08:50.751Z","id":"82drAHmqIqCyB1HE","name":"Suporte Neurônio - func - buscar_cliente_modulo","active":false,"nodes":[{"parameters":{},"id":"73cab350-29de-4562-ab37-db350a59a577","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select distinct cmn.*, cb.*,\nfrom `IOT.ClientesModuloNeuronio` cmn\njoin `SANKHYA.ClientesBlips` cb on cb.CGC_CPF = cmn.cnpj\nwhere 1 = 1\n{{ $json.properties.function.arguments.parseJson().hasOwnProperty('cnpj') ? \"and cmn.cnpj = '\" + $json.properties.function.arguments.parseJson()['cnpj'] + \"'\" : \"\" }}\n{{ $json.properties.function.arguments.parseJson().hasOwnProperty('id') ? \"and cmn.id = '\" + $json.properties.function.arguments.parseJson()['id'] + \"'\" : \"\" }}","options":{}},"id":"cd186d73-d479-49ed-97b0-f2b3cb012346","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[760,340],"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"1519544d-405b-4329-934c-bff2ddc8dd81","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[980,340]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google BigQuery","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"properties":{"id":"call_3ZPPS15JMk3fXzxyTWz5j7Ub","type":"function","function":{"name":"buscar_contrato","arguments":"{\"cnpj\":\"39791713000156\"}"}},"arguments":{"cnpj":"39791713000156"}}}]},"versionId":"e4dbb3a1-a0ab-4869-842c-a12ba354a2dc","triggerCount":0,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}