Workflows/suporte-neurônio---assistente-iHAwlkVNMiSeQMTH.json
{"createdAt":"2024-05-08T01:53:52.483Z","updatedAt":"2024-05-21T20:30:08.454Z","id":"iHAwlkVNMiSeQMTH","name":"Suporte Neurônio - Assistente","active":true,"nodes":[{"parameters":{},"id":"5589ca01-ff1c-45f3-97d5-42f3091e1d34","name":"Merge - User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1780,1180]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"cad5dd25-fa84-4419-980f-9cef08bd2a08","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1380,1440],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis Globais').item.json.assistent_id }}"},{"name":"tool_choice","value":"required"}]},"options":{}},"id":"33c26ef3-fa6f-4a2a-b211-3cd03ba6f6eb","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,1200],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"302a0aeb-c73e-4f02-9f42-d3796a290a56","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1000,1220],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"amount":3,"unit":"seconds"},"id":"c3f86cd4-b8f2-4bdb-a192-22a007e8237b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1360,1560],"webhookId":"8811742f-db12-48ec-a589-b4fe235ebc7b"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a36f9633-0e96-494f-ad0e-712ffdac9c52","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2080,1280],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a481b5b5-85f3-495c-9301-fb5433b0dccc","leftValue":"={{ !! $json[$('Variáveis Globais').item.json.assistent_id] }}","rightValue":"'sadasdasdas'","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"40e44bf0-cdba-45f7-ac0c-61535656ef10","name":"Possui Thread?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1600,1180]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Add thread_id').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"b04bfbbb-5f08-4f96-85ab-13c6d9b05a21","name":"Lista Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,1420],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.data[0].thread_id }}/runs/{{ $('Lista Runs').item.json.first_id }}/cancel ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"b8b073ee-e7d4-4ad4-b2c8-b4810c8fa6d3","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,1640],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"191c1aec-934c-4ba2-b396-3738b50f4d78","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"9c3d7a74-e50b-4068-82e2-1ba64dc71ba5","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1920,600]},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"properties"}},"id":"27637cb5-5ca2-4eef-bdc5-d597d06a05ef","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2080,600]},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"0d7d3cc2-ec4a-4704-9ca7-b0f605c345a8","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2260,600]},{"parameters":{"assignments":{"assignments":[{"id":"f724eaa4-72cc-4bbd-9b1a-b279ec2c8e52","name":"arguments","value":"={{ $json.properties.function.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"fa2fa667-86af-4991-8f31-03cfcc89acdd","name":"Separa Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2580,720]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"8e09290d-5239-4484-b6e4-eb79b52a39e0","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2480,400]},{"parameters":{"assignments":{"assignments":[{"id":"c49761c9-bbfa-4a86-8d62-396ebeeebc5d","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"2aff1441-1e27-471b-9ba2-ddbd3f3aea1c","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2700,400]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json[\"thread_id\"] }}/runs/{{ $('Get Run Status').item.json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tool_outputs\":{{ $json.output }}\n}\n","options":{}},"id":"417740ab-6f46-479a-906e-f1265c5e1c20","name":"Insere Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2920,400],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c9807ad-eb8c-4dce-a2e2-52bd17c8cee9","name":"message","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"703e6315-033e-44e4-9ebc-23a5c4f95c63","name":"Set Message from Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-440,940]},{"parameters":{},"id":"74528a62-8650-4d0d-be78-15964d0f1c8c","name":"Merge - Message","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[220,1200]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Add thread_id').item.json[\"thread_id\"] }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $json.message }}"}]},"options":{}},"id":"f91de445-d535-4a59-94fc-9bffd7944500","name":"Criar a Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,1200],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.zapsterapi.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTQyMzA4NDIsImlzcyI6IjE2YTE0YThjLTIyNjItNDc1YS04NDFiLTg1NWNiNmJjYjYyMyIsInN1YiI6IjY0YzFhYmI3LTNiZDktNGUzYS05OGE5LTRiZDQ1ZTk2ZWJmMSJ9.yka24QqPV1qR6_ei3dzPOQrKKqXLTLS818OoHpf0SH8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Variáveis Globais').item.json.user_id }}"},{"name":"instance_id","value":"5f5670d7-8933-4673-9546-548f7d5a491c"},{"name":"message","value":"={{$json.data[0].content[0].text.value.replaceAll(/【[^】]*】/g, \"\")}}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"2ba94c46-51c2-430d-b7b5-9c77a93d593b","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2720,1600]},{"parameters":{"assignments":{"assignments":[{"id":"2c72ca72-d1a4-4dc0-84e8-e882ecc1c42a","name":"message","value":"={{ $('Variáveis Globais').item.json.message }}","type":"string"}]},"options":{}},"id":"e0c70c21-6c5b-458a-a8de-e7b4895266c5","name":"Set Message from Text","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-400,1220]},{"parameters":{"collection":"users","options":{},"query":"={\n    \"phone\": \"{{ $('Variáveis Globais').item.json.user_id }}\"\n}"},"id":"e1006a88-178b-47fa-98e8-cc78882f2bfb","name":"MongoDB - Get User","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-2600,1180],"alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iRLHzNSsYJ662KTH","name":"MongoDB - Chat - Blips"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1bbb3958-988e-479e-add8-6584965f9d3f","leftValue":"={{ !!Object.keys($node[\"MongoDB - Get User\"].data).length }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4586901f-e4ed-486d-ae1a-b8e137a62457","name":"If - User Exists","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2340,1180]},{"parameters":{"operation":"insert","collection":"users","fields":"=name,phone","options":{}},"id":"b95f7d97-7f75-4118-bddb-79c84d312a40","name":"MongoDB - Create User","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1960,1340],"credentials":{"mongoDb":{"id":"iRLHzNSsYJ662KTH","name":"MongoDB - Chat - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9c8dcb8-7a7d-4a06-8ad2-6fc05f1694bf","name":"name","value":"={{ $('Variáveis Globais').item.json.user_name }}","type":"string"},{"id":"322f9814-b3ff-45f8-9210-47e5ee4aaf11","name":"phone","value":"={{ $('Variáveis Globais').item.json.user_id }}","type":"string"}]},"options":{}},"id":"41397f76-6dac-4342-b5db-51c95bd2c42e","name":"Set","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2140,1340],"alwaysOutputData":false},{"parameters":{"operation":"update","collection":"users","updateKey":"_id","fields":"={{ $('Variáveis Globais').item.json.assistent_id }}","options":{}},"id":"7d03e82b-4292-4ec5-a6c3-91acfb3c422d","name":"MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1020,1440],"credentials":{"mongoDb":{"id":"iRLHzNSsYJ662KTH","name":"MongoDB - Chat - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9c8dcb8-7a7d-4a06-8ad2-6fc05f1694bf","name":"_id","value":"={{ $('Possui Thread?').item.json._id }}","type":"string"},{"id":"322f9814-b3ff-45f8-9210-47e5ee4aaf11","name":"={{ $('Variáveis Globais').item.json.assistent_id }}","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"6d31046a-f0e1-478f-bc5f-a6605b1bcbb4","name":"Set1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1200,1440],"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"303c1752-c985-409c-88af-294c58e07484","leftValue":"={{!! $json.data[0].cancelled_at }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"2f379be4-0d16-42fa-82d9-7708b590f93d","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,1660]},{"parameters":{"assignments":{"assignments":[{"id":"e67f5454-b878-4de4-a5e0-9136f74539ad","name":"thread_id","value":"={{ $json[$('Variáveis Globais').item.json.assistent_id] }}","type":"string"}]},"options":{}},"id":"e66d753f-9149-48a8-a782-6c27db8d2a9e","name":"Add thread_id","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1160,1160]},{"parameters":{"content":"### Bloco que controla o cadastro de usuários e thread_ids no MongoDB","height":1081.3835526236935,"width":3624.578087302814},"id":"63e68c59-17b1-49ea-99b0-f34b35f643ff","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2740,840]},{"parameters":{"content":"### Controle de espera de processamento da OpenAI","height":687.7066168040656,"width":898.1791960467435,"color":4},"id":"5be60b98-1ce4-4e4e-801b-bea4d3a3844d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,1140]},{"parameters":{"content":"### Resposta","height":563.9330053287085,"width":1530.6827250611177,"color":6},"id":"f36e569d-6f04-4a6b-9c51-defcdae9aa70","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2020,1240]},{"parameters":{"content":"### Gestão das functions","height":1126.8346603478994,"width":2245.228390046582,"color":3},"id":"3a3c462a-732c-486b-9661-bd93240f2be5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1860,20.268455165448927]},{"parameters":{"assignments":{"assignments":[{"id":"79854708-0135-4a8b-827b-74bcd2ac8fe7","name":"response","value":"={{ \"success\" in $json.response.last() ? [\"Nenhum registro encontrado\"] : $json.response }}","type":"array"}]},"options":{}},"id":"3f4b2a89-17db-4d1a-b9d1-2338b42d637f","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3860,540]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"headers\": {\n    \"host\": \"primary-production-46a6.up.railway.app\",\n    \"accept\": \"application/json, text/plain, */*\",\n    \"content-type\": \"application/json\",\n    \"user-agent\": \"chat\",\n    \"x-message-id\": \"7710b873-46fb-427b-93ae-389ae4f14f35\",\n    \"x-instance-id\": \"5f5670d7-8933-4673-9546-548f7d5a491c\",\n    \"content-length\": \"626\",\n    \"accept-encoding\": \"gzip, compress, deflate, br\",\n    \"x-forwarded-for\": \"157.245.243.171\",\n    \"x-forwarded-proto\": \"https\",\n    \"x-envoy-external-address\": \"157.245.243.171\",\n    \"x-request-id\": \"839e5c4c-475e-43e3-90f8-d00cb448ef87\"\n  },\n  \"params\": {},\n  \"query\": {},\n  \"body\": {\n    \"group\": null,\n    \"from\": {\n      \"id\": \"553488152574\",\n      \"name\": \"Orseni\",\n      \"avatar_url\": \"https://zapsterapi-message-medias.s3.us-east-1.amazonaws.com/5f5670d7-8933-4673-9546-548f7d5a491c/db735264-0c95-46a0-a2d0-07e5f0c3e103.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAV6PM7KXCEFS4IW3T%2F20240508%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240508T031346Z&X-Amz-Expires=7200&X-Amz-Signature=d2b15c41ea99f560f9086bd6819f196bec556640e7735b938392a6de59e1f61b&X-Amz-SignedHeaders=host&x-id=GetObject\"\n    },\n    \"content\": {\n      \"text\": \"{{ $json.chatInput }}\",\n      \"id\": \"3AF6DB44E793F2A10E16\",\n      \"type\": \"text\"\n    }\n  },\n  \"webhookUrl\": \"https://primary-production-46a6.up.railway.app/webhook-test/suporte-neuronio\",\n  \"executionMode\": \"test\"\n}","options":{}},"id":"6be7ceb0-d85b-4134-b883-6b96597ae1e2","name":"Convert to Webhook","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3060,1540]},{"parameters":{"assignments":{"assignments":[{"id":"34cb3bc8-079f-43b5-8f32-78fefbc897dc","name":"assistent_id","value":"asst_P6yR0qcdsLQyTOF0jJv88Qqe","type":"string"},{"id":"b6ff9a48-6fe6-4808-8a40-d6edbb9c2346","name":"user_id","value":"={{ $json.body.from.id }}","type":"string"},{"id":"d7564de9-2206-490b-bef3-3001e57ac8e0","name":"user_name","value":"={{ $json.body.from.name }}","type":"string"},{"id":"7a61cd22-7f0c-4c04-a3ed-6acf9f979424","name":"message_type","value":"={{ $json.body.content.type }}","type":"string"},{"id":"8b78c832-8cf3-430f-83b0-7bbca38e4140","name":"message","value":"={{ $json.body.content.text }}","type":"string"},{"id":"adf11de6-a3ee-4e3e-aed5-5a6a3025202d","name":"chat","value":"={{ $json.headers['user-agent'] == 'chat'}}","type":"boolean"},{"id":"74b31986-b940-4961-94ac-188108032c9c","name":"media_url","value":"={{ $json.body.content.media_url }}","type":"string"}]},"options":{}},"id":"866a0d77-2d63-4ca5-888c-daceb7390b8f","name":"Variáveis Globais","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3020,1180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ccc349c8-e64f-45d7-bd3f-551a8a58a2ee","leftValue":"={{ $('Variáveis Globais').item.json.chat }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5d96d404-8fb7-4216-8834-12b33ad41c84","name":"É chat?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2300,1280]},{"parameters":{"assignments":{"assignments":[{"id":"7e8aee3a-54b3-47b8-b546-3f90fb3f036a","name":"output","value":"={{$json.data[0].content[0].text.value.replaceAll(/【[^】]*】/g, \"\")}}","type":"string"}]},"options":{}},"id":"7125e6d4-915f-480e-a9b4-d0048c12e2ee","name":"Resposta chat","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2560,1260]},{"parameters":{"httpMethod":"POST","path":"suporte-neuronio","options":{}},"id":"ff1de7eb-ae7d-45dd-9c05-2c1647b8c457","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-3360,1180],"webhookId":"96844c2c-3d7f-4441-87d4-3804ca3aad11"},{"parameters":{"url":"={{ $('Variáveis Globais').item.json.media_url }}","options":{}},"id":"18ee09e9-5821-41ba-951c-6772f46c68cb","name":"Baixar Áudio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-700,1440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"957ba458-7a73-4c85-aa32-e0601292709b","leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ff160489-60f4-4fde-b3e7-0f69c9593f90","leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"a28ccf7b-aaba-4daa-9bd0-b0ed4946edac","name":"Tipo de Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-960,1160]},{"parameters":{"jsCode":"items[0].binary.data.fileName = 'audio.ogg';\n\nreturn items;"},"id":"1f5923f6-694b-4db7-8d05-ac9e6ea42f81","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,1440]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"language","value":"pt"}]},"options":{}},"id":"a99bffda-cf19-4705-81a9-67b7d44074c5","name":"Transcreve o áudio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,1440],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"7d7698ea-b4d3-4182-8fde-d87d62c9744d","name":"message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"d52d77ad-86e3-4d15-bd3f-d1cc79db72f0","name":"Set Message from Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-40,1440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f9e9d49-352e-40c0-b620-c7f2bae218ad","leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"009c3a4a-28a5-4e91-9f32-218d10a6e2b2","name":"É audio?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2460,1520]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"tts-1"},{"name":"input","value":"={{ $('HTTP Request').item.json.data[0].content[0].text.value }}"},{"name":"voice","value":"nova"},{"name":"response_format","value":"opus"}]},"options":{}},"id":"403ee573-cc1a-42d4-85f7-0bbb038bf3c5","name":"Gerar audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,1420],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"50f47579-2ec9-49f1-a736-7c59cea71bd0","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2940,1420]},{"parameters":{"method":"POST","url":"https://api.zapsterapi.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTQyMzA4NDIsImlzcyI6IjE2YTE0YThjLTIyNjItNDc1YS04NDFiLTg1NWNiNmJjYjYyMyIsInN1YiI6IjY0YzFhYmI3LTNiZDktNGUzYS05OGE5LTRiZDQ1ZTk2ZWJmMSJ9.yka24QqPV1qR6_ei3dzPOQrKKqXLTLS818OoHpf0SH8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Variáveis Globais').item.json.user_id }}"},{"name":"instance_id","value":"5f5670d7-8933-4673-9546-548f7d5a491c"},{"name":"media","value":"={{ $json.payload.parseJson() }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"a5b110c1-fcdb-4017-87a5-440a21e0dcf4","name":"Envia audio p/ Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3340,1420]},{"parameters":{"assignments":{"assignments":[{"id":"12131562-b4c6-4624-9386-07cd9ee7fcc7","name":"payload","value":"={\"base64\": \"{{ $json.data }}\" }","type":"string"}]},"options":{}},"id":"2a9a1f5b-832e-45c9-8750-ecb49da96a92","name":"Set payload","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3140,1420]},{"parameters":{"workflowId":"voeDIWwr4i59X9wb","options":{}},"id":"b5bf60b3-b19d-46e3-8199-21dc52615610","name":"Execute Workflow - buscar_contratos","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3240,80]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"98a5af91-f163-4672-9d53-9bee20c97303","leftValue":"={{ $json.last_error.code }}","rightValue":"rate_limit_exceeded","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"70462b1a-7fc5-4298-913b-f718d9788fd4","name":"Se for rate_limit_exceeded","type":"n8n-nodes-base.if","typeVersion":2,"position":[1460,1380]},{"parameters":{"amount":"={{ parseInt($json.last_error.message.match(/(\\d+(\\.\\d+)?)s/)[1]) * 2}}"},"id":"a2f29faa-b05f-41fe-be1e-acf0b8d347b1","name":"Espera o tempo determinado","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,1640],"webhookId":"89b3350b-829b-4d43-98f4-cfbbfdf7a131"},{"parameters":{"workflowId":"5HQMC1PAswB0IGmH","options":{}},"id":"6729f48e-b535-473e-bc67-16590cdaa1d3","name":"Execute Workflow - buscar_bloqueio","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3400,220]},{"parameters":{"mode":"raw","jsonOutput":"={\n\"tool_call_id\":\"{{ $('Separa Arguments').item.json[\"properties\"][\"id\"] }}\",\n\"output\": {{ JSON.stringify(JSON.stringify($json[\"response\"])) }}\n}","options":{}},"id":"6964bd48-f577-4d99-80da-a4d9fa10ae1a","name":"Tool Call ID","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3940,960]},{"parameters":{"workflowId":"LMPk2IwulK3VCzwr","options":{}},"id":"f44cd4b4-d532-4eb2-a57f-8cc9509ba4ae","name":"Execute Workflow - buscar_financeiro_cliente","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3240,360]},{"parameters":{"workflowId":"BcOK1G1NutmDyqmn","options":{}},"id":"27eb0db0-f153-4b20-a583-a8f1faac5a03","name":"Execute Workflow - buscar_ultima_conexao","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3400,480]},{"parameters":{"workflowId":"Ec5vAJh1q66aJryo","options":{}},"id":"8271157a-f8b0-4581-8372-e8ae9a7b29db","name":"Execute Workflow - buscar_desbloqueio","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3240,640]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2f9b9d5a-e6c8-4052-961e-89a2e11d59f5","leftValue":"={{ $('Variáveis Globais').item.json.message }}","rightValue":"/limpar_thread","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"a7234c52-5022-4b16-8507-e4fa40926197","name":"É para limpar a thread?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1360,1160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"2f9b9d5a-e6c8-4052-961e-89a2e11d59f5","leftValue":"={{ $('Variáveis Globais').item.json.message }}","rightValue":"/limpar_thread","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"d09fac9b-b0f4-42b2-8560-ab7c116fd5f8","name":"É para limpar a thread?1","type":"n8n-nodes-base.if","typeVersion":2,"position":[-860,1660]},{"parameters":{"assignments":{"assignments":[{"id":"0946679f-72ec-4479-b8b6-831d4274caad","name":"output","value":"Nova thread criada","type":"string"}]},"options":{}},"id":"0fcddfd7-bc7f-4659-96af-0a70c6e1b33e","name":"Resposta chat1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-600,1640]},{"parameters":{"workflowId":"82drAHmqIqCyB1HE","options":{}},"id":"d1a5dac6-ca73-4e36-b386-c857dfbc928c","name":"Execute Workflow - buscar_cliente_modulo","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3400,780]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a30ac449-65ca-4a00-bdc5-19d2a41d4b34","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_contrato","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_contrato"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1ed1667f-793b-4625-b2b6-248671c134bd","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_bloqueio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_bloqueio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a86e4e8e-c899-47be-870a-d507c49eb104","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_financeiro_cliente","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_financeiro_cliente"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3a6ad548-1418-45f9-9013-469514193f4d","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_ultima_conexao","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_ultima_conexao"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bf2fd5b3-e277-4c9c-8f2a-a0613ce78365","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_desbloqueio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_desbloqueio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6ded196b-9b7a-4740-9503-fa548fa5d830","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_cliente_modulo","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_cliente_modulo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f4984eac-131e-4cf7-8252-f916f1f7c88c","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_liberacao_confianca","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_liberacao_confianca"}]},"options":{}},"id":"618f3ce8-8b0b-445a-bb6b-3d3dbb95219f","name":"Escolhe a tool que deve ser utilizada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2840,720]},{"parameters":{"workflowId":"JK083mnyz0StWaWK","options":{}},"id":"ad5cb6be-2696-458a-9de3-645e31db2f02","name":"Execute Workflow - buscar_liberacao_confianca","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3240,940]},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um livro. Responda apenas com o nome do livro e autor (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.content.media_url }}","options":{"maxTokens":150}},"id":"76b9486c-d100-4ca5-a879-82f7c66958fd","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-620,940],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"public":true,"initialMessages":"","options":{}},"id":"603ad489-b40a-45d0-b17e-65d6d4285cc5","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-3380,1540],"webhookId":"1ebc1844-12f6-4171-9be8-f9d52eb1550d"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ecd44d0c-b93e-4977-ae74-8c87eae4cf20","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6f6841ae-8845-4659-9e06-06e5bd4843df","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6cc26ecf-79af-4d91-bb3f-a617646e3fc8","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0f93b1ee-1a9c-4586-86f8-55e0a180ca04","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5e7ecc7f-ecee-439c-aa0e-80a7e110726a","leftValue":"={{ $json.status }}","rightValue":"=requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"fdc7272c-7683-4e68-ae31-d624fea30df7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1240,1200]}],"connections":{"Merge - User":{"main":[[{"node":"Possui Thread?","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"É chat?","type":"main","index":0}]]},"Possui Thread?":{"main":[[{"node":"É para limpar a thread?","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Lista Runs":{"main":[[{"node":"If","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar a Mensagem","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa Arguments","type":"main","index":0}]]},"Separa Arguments":{"main":[[{"node":"Escolhe a tool que deve ser utilizada","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Insere Output","type":"main","index":0}]]},"Insere Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Set Message from Image":{"main":[[{"node":"Merge - Message","type":"main","index":0}]]},"Merge - Message":{"main":[[{"node":"Criar a Mensagem","type":"main","index":0}]]},"Criar a Mensagem":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"Lista Runs","type":"main","index":0}]]},"Set Message from Text":{"main":[[{"node":"Merge - Message","type":"main","index":1}]]},"MongoDB - Get User":{"main":[[{"node":"If - User Exists","type":"main","index":0}]]},"If - User Exists":{"main":[[{"node":"Merge - User","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"MongoDB - Create User","type":"main","index":0}]]},"MongoDB - Create User":{"main":[[{"node":"Merge - User","type":"main","index":1}]]},"Set1":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"É para limpar a thread?1","type":"main","index":0}]]},"If":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Add thread_id":{"main":[[{"node":"Tipo de Mensagem","type":"main","index":0}]]},"Response":{"main":[[{"node":"Tool Call ID","type":"main","index":0}]]},"Convert to Webhook":{"main":[[{"node":"Variáveis Globais","type":"main","index":0}]]},"Variáveis Globais":{"main":[[{"node":"MongoDB - Get User","type":"main","index":0}]]},"É chat?":{"main":[[{"node":"Resposta chat","type":"main","index":0}],[{"node":"É audio?","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variáveis Globais","type":"main","index":0}]]},"Tipo de Mensagem":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Set Message from Text","type":"main","index":0}],[{"node":"Baixar Áudio","type":"main","index":0}]]},"Baixar Áudio":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Transcreve o áudio","type":"main","index":0}]]},"Transcreve o áudio":{"main":[[{"node":"Set Message from Audio","type":"main","index":0}]]},"Set Message from Audio":{"main":[[{"node":"Merge - Message","type":"main","index":1}]]},"É audio?":{"main":[[{"node":"Gerar audio","type":"main","index":0}],[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Gerar audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Set payload","type":"main","index":0}]]},"Set payload":{"main":[[{"node":"Envia audio p/ Whatsapp","type":"main","index":0}]]},"Execute Workflow - buscar_contratos":{"main":[[{"node":"Response","type":"main","index":0}]]},"Se for rate_limit_exceeded":{"main":[[{"node":"Espera o tempo determinado","type":"main","index":0}]]},"Espera o tempo determinado":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Execute Workflow - buscar_bloqueio":{"main":[[{"node":"Response","type":"main","index":0}]]},"Tool Call ID":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow - buscar_financeiro_cliente":{"main":[[{"node":"Response","type":"main","index":0}]]},"Execute Workflow - buscar_ultima_conexao":{"main":[[{"node":"Response","type":"main","index":0}]]},"Execute Workflow - buscar_desbloqueio":{"main":[[{"node":"Response","type":"main","index":0}]]},"É para limpar a thread?":{"main":[[{"node":"Add thread_id","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"É para limpar a thread?1":{"main":[[{"node":"Resposta chat1","type":"main","index":0}],[{"node":"Merge - User","type":"main","index":0}]]},"Execute Workflow - buscar_cliente_modulo":{"main":[[{"node":"Response","type":"main","index":0}]]},"Escolhe a tool que deve ser utilizada":{"main":[[{"node":"Execute Workflow - buscar_contratos","type":"main","index":0}],[{"node":"Execute Workflow - buscar_bloqueio","type":"main","index":0}],[{"node":"Execute Workflow - buscar_financeiro_cliente","type":"main","index":0}],[{"node":"Execute Workflow - buscar_ultima_conexao","type":"main","index":0}],[{"node":"Execute Workflow - buscar_desbloqueio","type":"main","index":0}],[{"node":"Execute Workflow - buscar_cliente_modulo","type":"main","index":0}],[{"node":"Execute Workflow - buscar_liberacao_confianca","type":"main","index":0}]]},"Execute Workflow - buscar_liberacao_confianca":{"main":[[{"node":"Response","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Set Message from Image","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Convert to Webhook","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[{"node":"Se for rate_limit_exceeded","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f7a26ba6-6b57-4642-9860-d3060ebd3036","triggerCount":3,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}