Workflows/suporte-neurônio---func:-buscar_financeiro_cliente-LMPk2IwulK3VCzwr.json
{"createdAt":"2024-05-16T01:18:12.450Z","updatedAt":"2024-05-22T09:23:50.805Z","id":"LMPk2IwulK3VCzwr","name":"Suporte Neurônio - func: buscar_financeiro_cliente","active":false,"nodes":[{"parameters":{},"id":"63774a17-eeb3-4489-90f1-b4c9063d874f","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select \ntbi.*\nfrom `SANKHYA.TitulosBlipsIdeal` tbi\nwhere CGC_CPF = '{{ $json.properties.function.arguments.parseJson()['cnpj'] }}'","options":{}},"id":"2bd03219-64ba-4dd6-a43f-8289c3d041d5","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[760,340],"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"68317fab-6820-44d6-ae4c-5a21507debc9","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[980,340]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google BigQuery","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"properties":{"id":"call_3ZPPS15JMk3fXzxyTWz5j7Ub","type":"function","function":{"name":"buscar_financeiro_cliente","arguments":"{\"cnpj\":\"39791713000156\"}"}},"arguments":{"cnpj":"39791713000156"}}}]},"versionId":"9e60fe24-b643-4505-9af9-75a56d75a01b","triggerCount":0,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}