Workflows/suporte-neurônio---func:-buscar_liberacao_confianca-JK083mnyz0StWaWK.json
{"createdAt":"2024-05-16T12:14:22.021Z","updatedAt":"2024-05-16T13:57:35.407Z","id":"JK083mnyz0StWaWK","name":"Suporte Neurônio - func: buscar_liberacao_confianca","active":false,"nodes":[{"parameters":{},"id":"2a389064-03d6-4857-9e5d-23352f77991b","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select eb.*\nfrom `IOT.ExcecaoBloqueio` eb\nwhere 1 = 1\n{{ $json.properties.function.arguments.parseJson().hasOwnProperty('cnpj') ? \"and eb.cnpj = '\" + $json.properties.function.arguments.parseJson()['cnpj'] + \"'\" : \"\" }}\n{{ $json.properties.function.arguments.parseJson().hasOwnProperty('id') ? \"and eb.numero_serie = '\" + $json.properties.function.arguments.parseJson()['id'] + \"'\" : \"\" }}\n","options":{}},"id":"bbefd0e1-b9e8-4093-a06e-ca84d3382ecf","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[760,340],"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"e514b131-c059-4a56-9ef1-229cb197af4d","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[980,340]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google BigQuery","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"properties":{"id":"call_3ZPPS15JMk3fXzxyTWz5j7Ub","type":"function","function":{"name":"buscar_contrato","arguments":"{\"cnpj\":\"39791713000156\"}"}},"arguments":{"cnpj":"39791713000156"}}}]},"versionId":"9705d1ee-5177-4afb-8cd1-0a3e81503975","triggerCount":0,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}