Workflows/suporte-neurônio---func---buscar_ultima_conexao-BcOK1G1NutmDyqmn.json
{"createdAt":"2024-05-16T01:49:55.892Z","updatedAt":"2024-05-23T09:35:51.895Z","id":"BcOK1G1NutmDyqmn","name":"Suporte Neurônio - func - buscar_ultima_conexao","active":false,"nodes":[{"parameters":{},"id":"b6ded850-ba8f-4ac2-8439-19975e6a071f","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"83aaa1a1-cdb2-458b-ad06-69332bd40580","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1620,320],"alwaysOutputData":true,"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"fe6e8349-57ae-460a-b988-28ef432e7d29","leftValue":"={{ $json.arguments.id }}","rightValue":"blips_","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"3355a366-51ea-423b-8e44-c50f96254b5c","name":"É neurônio módulo?","type":"n8n-nodes-base.if","typeVersion":2,"position":[760,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select enuo.*\nfrom `IOT.EventoNeuronioUltimoOnline` enuo\nwhere 1 = 1\nand enuo.numero_serie = '{{ $json.properties.function.arguments.parseJson()['id'] }}'","options":{}},"id":"55e7be4f-c74e-4627-8b36-b77b5006afa5","name":"Google BigQuery1","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[1020,460],"notesInFlow":false,"alwaysOutputData":false,"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select mn.*\nfrom `IOT.ModuloNeuronio` mn\nwhere 1 = 1\nand mn.id = '{{ $json.properties.function.arguments.parseJson()['id'] }}'","options":{}},"id":"03b7b89d-682a-48a1-87fa-e016b8185a56","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[1040,80],"alwaysOutputData":true,"executeOnce":true,"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}},"onError":"continueErrorOutput"},{"parameters":{"amount":2},"id":"b6c49998-ff63-47ed-a93b-1f36701b944c","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1220,240],"webhookId":"f450f494-fa85-4f31-bda3-ba4f2d385a1a"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"É neurônio módulo?","type":"main","index":0}]]},"É neurônio módulo?":{"main":[[{"node":"Google BigQuery","type":"main","index":0}],[{"node":"Google BigQuery1","type":"main","index":0}]]},"Google BigQuery1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Google BigQuery","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"properties":{"id":"call_3ZPPS15JMk3fXzxyTWz5j7Ub","type":"function","function":{"name":"buscar_bloqueio","arguments":"{\"id\":\"11146811\"}"}},"arguments":{"id":"11146811"}}}]},"versionId":"fa0d45f2-2629-4245-aadd-973c04638549","triggerCount":0,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}