Workflows/suporte-neurônio---func---buscar_contrato-voeDIWwr4i59X9wb.json
{"createdAt":"2024-05-08T03:36:15.298Z","updatedAt":"2024-05-22T15:07:52.970Z","id":"voeDIWwr4i59X9wb","name":"Suporte Neurônio - func - buscar_contrato","active":false,"nodes":[{"parameters":{},"id":"39b5abd1-0775-43fe-bbfa-93f0227a9625","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[540,340]},{"parameters":{"projectId":{"__rl":true,"value":"blips-bigdata","mode":"list","cachedResultName":"Blips BigData","cachedResultUrl":"https://console.cloud.google.com/bigquery?project=blips-bigdata"},"sqlQuery":"select cb.NUCONTRATO,\ncb.CODCONTRATANTE,\ncb.NOMECONTRATANTE,\ncb.CNPJCONTRATANTE,\ncb.CODINDICADOR,\ncb.NOMEINDICADOR,\ncb.QTDEPARCELA,\ncb.DTCONTRATO,\ncb.DTCANCELAMENTO,\ncb.MOTIVOCANCELAMENTO,\ncb.DTINSTALACAO, \nne.contractor.name, \nne.assets.linked_assets, \nne.phase.status,\ncase when length(cba.NROSERIE) = 6 then 'blips_' || cba.NROSERIE else cba.NROSERIE end as numero_serie\nfrom `SANKHYA.ContratosBlips` cb\njoin `SANKHYA.ContratosBlipsAtivos` cba on cba.NUCONTRATO = cb.NUCONTRATO\njoin `PLATAFORMA.negotiation` ne on ne.contract_number = cb.NUCONTRATO\nwhere 1 = 1\n{{ $json.properties.function.arguments.parseJson().hasOwnProperty('cnpj') ? \"and cb.CNPJCONTRATANTE = '\" + $json.properties.function.arguments.parseJson()['cnpj'] + \"'\" : \"\" }}\n{{ $json.properties.function.arguments.parseJson().hasOwnProperty('contrato') ? \"and cb.NUCONTRATO = '\" + $json.properties.function.arguments.parseJson()['contrato'] + \"'\" : \"\" }}\n{{ $json.properties.function.arguments.parseJson().hasOwnProperty('numero_serie') ? \"and cba.NROSERIE = '\" + $json.properties.function.arguments.parseJson()['numero_serie'] + \"'\" : \"\" }}","options":{}},"id":"6408f743-d83d-4b2b-b6bc-04465d1f8fea","name":"Google BigQuery","type":"n8n-nodes-base.googleBigQuery","typeVersion":2,"position":[760,340],"credentials":{"googleBigQueryOAuth2Api":{"id":"JWi4DsW5kYcOTpaz","name":"Google BigQuery - Blips"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"response","options":{}},"id":"409c8326-f315-4778-8d28-4848a609c709","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[980,340]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google BigQuery","type":"main","index":0}]]},"Google BigQuery":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute Workflow Trigger":[{"json":{"properties":{"id":"call_3ZPPS15JMk3fXzxyTWz5j7Ub","type":"function","function":{"name":"buscar_contrato","arguments":"{\"cnpj\":\"30262591000136\"}"}},"arguments":{"cnpj":"30262591000136"}}}]},"versionId":"f453d1de-07f2-41c2-94cc-0c2bc7e585d1","triggerCount":0,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}