Workflows/suporte-neurônio---versão-teste-sendo-ampliada-g6RD4FnWEsii276E.json
{"createdAt":"2024-05-10T14:03:40.490Z","updatedAt":"2024-05-10T15:03:46.486Z","id":"g6RD4FnWEsii276E","name":"Suporte Neurônio - Versão Teste Sendo Ampliada","active":false,"nodes":[{"parameters":{},"id":"9e1ff221-6def-4a5d-94f1-2bfb55e891e1","name":"Merge - User","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-1760,1180]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"500b755d-69ab-4c69-990c-8470a5b94346","name":"Criar Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1380,1440],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assistant_id","value":"={{ $('Variáveis Globais').item.json.assistent_id }}"}]},"options":{}},"id":"46dcf1f7-646b-480a-aa98-c23a72b2bd48","name":"Run Assistant","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,1200],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"f26170ec-b6e2-4a71-b031-6a50e5ec723c","name":"Get Run Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1000,1220],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"amount":3,"unit":"seconds"},"id":"afb37801-2ddc-4588-96a4-03ed5044615b","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1,"position":[1460,1500],"webhookId":"accb4d6c-0e99-42e2-bf92-6e611cb4d554"},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v1"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"2d3d4ed7-c790-40dd-ba8b-bfd04b59e285","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1860,1280],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a481b5b5-85f3-495c-9301-fb5433b0dccc","leftValue":"={{ !! $json[$('Variáveis Globais').item.json.assistent_id] }}","rightValue":"'sadasdasdas'","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6a42bd2c-0c78-4170-ab93-b5d27689258d","name":"Possui Thread?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1560,1180]},{"parameters":{"url":"=https://api.openai.com/v1/threads/{{ $('Add thread_id').item.json.thread_id }}/runs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"options":{}},"id":"285b72e6-37ca-4b98-990a-8fc2eca3497f","name":"Lista Runs","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[680,1420],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $json.data[0].thread_id }}/runs/{{ $('Lista Runs').item.json.first_id }}/cancel ","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v1"}]},"options":{}},"id":"aa8a9913-61e8-41a6-a203-87d683daa6a2","name":"Cancel Run","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[700,1640],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"191c1aec-934c-4ba2-b396-3738b50f4d78","name":"tool_calls","value":"={{ $json.required_action.submit_tool_outputs.tool_calls }}","type":"array"}]},"options":{}},"id":"dd56d792-30e6-4743-abfc-ed02fd70c9db","name":"Captura Tool Calls","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1700,600]},{"parameters":{"fieldToSplitOut":"tool_calls","options":{"destinationFieldName":"properties"}},"id":"ba4ac2bf-0dbb-4004-a914-18c0dfebcb77","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1860,600]},{"parameters":{"options":{"reset":"={{ $node[\"Loop Over Items\"].context[\"done\"] }}"}},"id":"3e624e81-1d4b-4ffb-a841-ba9ae7f73e9b","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2040,600]},{"parameters":{"assignments":{"assignments":[{"id":"f724eaa4-72cc-4bbd-9b1a-b279ec2c8e52","name":"arguments","value":"={{ $json.properties.function.arguments }}","type":"object"}]},"includeOtherFields":true,"options":{}},"id":"72c8ba6a-9ad6-4dcc-ad27-a93a6a20cdcc","name":"Separa Arguments","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2280,720]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"60f577c2-7106-4fd6-affb-55ced15c7a6b","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2240,80]},{"parameters":{"assignments":{"assignments":[{"id":"c49761c9-bbfa-4a86-8d62-396ebeeebc5d","name":"output","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"773ace38-86ec-42b7-abd6-4908414bfe6e","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2460,80]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json[\"thread_id\"] }}/runs/{{ $('Get Run Status').item.json[\"id\"] }}/submit_tool_outputs","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v1"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tool_outputs\":{{ $json.output }}\n}\n","options":{}},"id":"8df308ff-95f0-4482-91cb-e2f808b7c46e","name":"Insere Output","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2680,80],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"7c9807ad-eb8c-4dce-a2e2-52bd17c8cee9","name":"message","value":"={{ $json.content }}","type":"string"}]},"options":{}},"id":"5a1af6e8-ae45-4c7c-bd23-616f6df48c6b","name":"Set Message from Image","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-440,940]},{"parameters":{},"id":"61460c3b-bc9f-4fda-b9b1-5c96f6e139e8","name":"Merge - Message","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[220,1200]},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/threads/{{ $('Add thread_id').item.json[\"thread_id\"] }}/messages","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"role","value":"user"},{"name":"content","value":"={{ $json.message }}"}]},"options":{}},"id":"09fe001a-969f-42ae-85d1-44b5582dba2c","name":"Criar a Mensagem","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[460,1200],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://api.zapsterapi.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTQyMzA4NDIsImlzcyI6IjE2YTE0YThjLTIyNjItNDc1YS04NDFiLTg1NWNiNmJjYjYyMyIsInN1YiI6IjY0YzFhYmI3LTNiZDktNGUzYS05OGE5LTRiZDQ1ZTk2ZWJmMSJ9.yka24QqPV1qR6_ei3dzPOQrKKqXLTLS818OoHpf0SH8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Variáveis Globais').item.json.user_id }}"},{"name":"instance_id","value":"5f5670d7-8933-4673-9546-548f7d5a491c"},{"name":"message","value":"={{ $json.data[0].content[0].text.value }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"2cfa6dd0-0e43-482d-86db-8edcf8314846","name":"Envia Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2500,1600]},{"parameters":{"assignments":{"assignments":[{"id":"2c72ca72-d1a4-4dc0-84e8-e882ecc1c42a","name":"message","value":"={{ $('Variáveis Globais').item.json.message }}","type":"string"}]},"options":{}},"id":"6519a36a-2ee8-4891-80a4-2c4595c0d7cd","name":"Set Message from Text","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-400,1220]},{"parameters":{"collection":"users","options":{},"query":"={\n    \"phone\": \"{{ $('Variáveis Globais').item.json.user_id }}\"\n}"},"id":"6200938b-0b47-4124-8bf4-edfb571ecb80","name":"MongoDB - Get User","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-2600,1180],"alwaysOutputData":true,"credentials":{"mongoDb":{"id":"iRLHzNSsYJ662KTH","name":"MongoDB - Chat - Blips"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1bbb3958-988e-479e-add8-6584965f9d3f","leftValue":"={{ !!Object.keys($node[\"MongoDB - Get User\"].data).length }}","rightValue":1,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"29809dd6-9f79-4049-9d7a-0106cc5d5eac","name":"If - User Exists","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2340,1180]},{"parameters":{"operation":"insert","collection":"users","fields":"=name,phone","options":{}},"id":"ba684205-7e1b-46f9-a7f8-3c833c6fe250","name":"MongoDB - Create User","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1960,1340],"credentials":{"mongoDb":{"id":"iRLHzNSsYJ662KTH","name":"MongoDB - Chat - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9c8dcb8-7a7d-4a06-8ad2-6fc05f1694bf","name":"name","value":"={{ $('Variáveis Globais').item.json.user_name }}","type":"string"},{"id":"322f9814-b3ff-45f8-9210-47e5ee4aaf11","name":"phone","value":"={{ $('Variáveis Globais').item.json.user_id }}","type":"string"}]},"options":{}},"id":"ab941380-a03a-4116-9dd8-8350db946528","name":"Set","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-2140,1340],"alwaysOutputData":false},{"parameters":{"operation":"update","collection":"users","updateKey":"_id","fields":"={{ $('Variáveis Globais').item.json.assistent_id }}","options":{}},"id":"ae6d73ca-88e9-4ebe-991b-42705a4de753","name":"MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-1020,1440],"credentials":{"mongoDb":{"id":"iRLHzNSsYJ662KTH","name":"MongoDB - Chat - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"b9c8dcb8-7a7d-4a06-8ad2-6fc05f1694bf","name":"_id","value":"={{ $('Possui Thread?').item.json._id }}","type":"string"},{"id":"322f9814-b3ff-45f8-9210-47e5ee4aaf11","name":"={{ $('Variáveis Globais').item.json.assistent_id }}","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"3fd7b0a4-85a1-4140-ad48-3f997476ef57","name":"Set1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1200,1440],"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"303c1752-c985-409c-88af-294c58e07484","leftValue":"={{!! $json.data[0].cancelled_at }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"id":"8e621d31-077c-4521-a8a7-be9f0acc02d7","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[480,1660]},{"parameters":{"assignments":{"assignments":[{"id":"e67f5454-b878-4de4-a5e0-9136f74539ad","name":"thread_id","value":"={{ $json[$('Variáveis Globais').item.json.assistent_id] }}","type":"string"}]},"options":{}},"id":"b26b36eb-f226-4205-8939-cc8b06c57b14","name":"Add thread_id","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-1260,1160]},{"parameters":{"content":"### Bloco que controla o cadastro de usuários e thread_ids no MongoDB","height":1081.3835526236935,"width":3624.578087302814},"id":"a8566fcc-750f-41f1-917e-092a90a86f6f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2740,840]},{"parameters":{"content":"### Controle de espera de processamento da OpenAI","height":675.5647296017379,"width":680.300613380165,"color":4},"id":"d6fb04dd-d4b0-4b16-a6f0-944685951116","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[940,1125.6813413319178]},{"parameters":{"content":"### Resposta","height":563.9330053287085,"width":1530.6827250611177,"color":6},"id":"61065ba4-9ef5-4d70-8d6f-9b32d51d57c0","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1780,1200]},{"parameters":{"content":"### Gestão das functions","height":1391.419704388241,"width":1783.614466379745,"color":3},"id":"2df42df2-dee1-4a6f-9411-a104e1e9e774","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1620,-220]},{"parameters":{"assignments":{"assignments":[{"id":"79854708-0135-4a8b-827b-74bcd2ac8fe7","name":"response","value":"={{ $json.response }}","type":"array"}]},"options":{}},"id":"0c0e2e71-ff58-422f-b638-73ef7b52fd6b","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3260,420]},{"parameters":{"mode":"raw","jsonOutput":"={\n\"tool_call_id\":\"{{ $('Separa Arguments').item.json[\"properties\"][\"id\"] }}\",\n\"output\": {{ JSON.stringify(JSON.stringify($json[\"response\"])) }}\n}","options":{}},"id":"58719f10-4c3c-47ca-adc8-0fd0c846dd05","name":"Tool Call ID - get_books","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[3280,960]},{"parameters":{"workflowId":"Icl3VEn9Z5mEnvMH","options":{}},"id":"cfa369f0-0db5-489d-84ee-0fb2b2ee2449","name":"Execute Workflow - buscar_numeros_serie","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2760,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"queued","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"queued"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ecd44d0c-b93e-4977-ae74-8c87eae4cf20","leftValue":"={{ $json.status }}","rightValue":"in_progress","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"in_progress"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6f6841ae-8845-4659-9e06-06e5bd4843df","leftValue":"={{ $json.status }}","rightValue":"failed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"failed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6cc26ecf-79af-4d91-bb3f-a617646e3fc8","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"completed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"0f93b1ee-1a9c-4586-86f8-55e0a180ca04","leftValue":"={{ $json.status }}","rightValue":"expired","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"expired"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"5e7ecc7f-ecee-439c-aa0e-80a7e110726a","leftValue":"={{ $json.status }}","rightValue":"=requires_action","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"requires_action"}]},"options":{}},"id":"c9781933-0b4f-4794-905a-bcf03a9f1eb0","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1240,1200]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"headers\": {\n    \"host\": \"primary-production-46a6.up.railway.app\",\n    \"accept\": \"application/json, text/plain, */*\",\n    \"content-type\": \"application/json\",\n    \"user-agent\": \"chat\",\n    \"x-message-id\": \"7710b873-46fb-427b-93ae-389ae4f14f35\",\n    \"x-instance-id\": \"5f5670d7-8933-4673-9546-548f7d5a491c\",\n    \"content-length\": \"626\",\n    \"accept-encoding\": \"gzip, compress, deflate, br\",\n    \"x-forwarded-for\": \"157.245.243.171\",\n    \"x-forwarded-proto\": \"https\",\n    \"x-envoy-external-address\": \"157.245.243.171\",\n    \"x-request-id\": \"839e5c4c-475e-43e3-90f8-d00cb448ef87\"\n  },\n  \"params\": {},\n  \"query\": {},\n  \"body\": {\n    \"group\": null,\n    \"from\": {\n      \"id\": \"553488152574\",\n      \"name\": \"Orseni\",\n      \"avatar_url\": \"https://zapsterapi-message-medias.s3.us-east-1.amazonaws.com/5f5670d7-8933-4673-9546-548f7d5a491c/db735264-0c95-46a0-a2d0-07e5f0c3e103.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAV6PM7KXCEFS4IW3T%2F20240508%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240508T031346Z&X-Amz-Expires=7200&X-Amz-Signature=d2b15c41ea99f560f9086bd6819f196bec556640e7735b938392a6de59e1f61b&X-Amz-SignedHeaders=host&x-id=GetObject\"\n    },\n    \"content\": {\n      \"text\": \"{{ $json.chatInput }}\",\n      \"id\": \"3AF6DB44E793F2A10E16\",\n      \"type\": \"text\"\n    }\n  },\n  \"webhookUrl\": \"https://primary-production-46a6.up.railway.app/webhook-test/suporte-neuronio\",\n  \"executionMode\": \"test\"\n}","options":{}},"id":"63d108c0-c32d-42c3-9180-a12cc83f79cb","name":"Convert to Webhook","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3060,1540]},{"parameters":{"assignments":{"assignments":[{"id":"34cb3bc8-079f-43b5-8f32-78fefbc897dc","name":"assistent_id","value":"asst_P6yR0qcdsLQyTOF0jJv88Qqe","type":"string"},{"id":"b6ff9a48-6fe6-4808-8a40-d6edbb9c2346","name":"user_id","value":"={{ $json.body.from.id }}","type":"string"},{"id":"d7564de9-2206-490b-bef3-3001e57ac8e0","name":"user_name","value":"={{ $json.body.from.name }}","type":"string"},{"id":"7a61cd22-7f0c-4c04-a3ed-6acf9f979424","name":"message_type","value":"={{ $json.body.content.type }}","type":"string"},{"id":"8b78c832-8cf3-430f-83b0-7bbca38e4140","name":"message","value":"={{ $json.body.content.text }}","type":"string"},{"id":"adf11de6-a3ee-4e3e-aed5-5a6a3025202d","name":"chat","value":"={{ $json.headers['user-agent'] == 'chat'}}","type":"boolean"},{"id":"74b31986-b940-4961-94ac-188108032c9c","name":"media_url","value":"={{ $json.body.content.media_url }}","type":"string"}]},"options":{}},"id":"9f89d53a-9865-4a7c-bd70-1ef36124364b","name":"Variáveis Globais","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-3020,1180]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ccc349c8-e64f-45d7-bd3f-551a8a58a2ee","leftValue":"={{ $('Variáveis Globais').item.json.chat }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ef51b7db-3c1e-4deb-a2b9-ec10a17be9fc","name":"É chat?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2080,1280]},{"parameters":{"assignments":{"assignments":[{"id":"7e8aee3a-54b3-47b8-b546-3f90fb3f036a","name":"output","value":"={{ $json.data[0].content[0].text.value }}","type":"string"}]},"options":{}},"id":"d5b072c1-be04-4388-af21-518a4426aa07","name":"Resposta chat","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2340,1260]},{"parameters":{},"id":"eef5b4ce-d09a-4c2f-b5c6-3f50454cdcf2","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-3380,1540],"webhookId":"522fc9f6-28bf-451a-b1a3-87faa7d4f3e8"},{"parameters":{"httpMethod":"POST","path":"suporte-neuronio","options":{}},"id":"c1af7b30-c8de-45a8-8805-013932f3ae63","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-3360,1180],"webhookId":"ddf291a7-83e4-4011-ba48-272ab456f0e4"},{"parameters":{"url":"={{ $('Variáveis Globais').item.json.media_url }}","options":{}},"id":"260db7cd-f278-4c48-a4e5-737d5345f892","name":"Baixar Áudio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-700,1440]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"957ba458-7a73-4c85-aa32-e0601292709b","leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ff160489-60f4-4fde-b3e7-0f69c9593f90","leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"id":"bd1351c5-0277-46fc-8950-3594c577959c","name":"Tipo de Mensagem","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-960,1160]},{"parameters":{"resource":"image","operation":"analyze","text":"Você receberá a foto de um livro. Responda apenas com o nome do livro e autor (se possível). NUNCA USE ASPAS","imageUrls":"={{ $('Webhook').item.json.body.content.media_url }}","options":{"maxTokens":150}},"id":"6bc0ea8e-cf93-470d-ac48-65229e9559a0","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-620,940],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"jsCode":"items[0].binary.data.fileName = 'audio.ogg';\n\nreturn items;"},"id":"39506725-3343-4338-a1e6-d2644f7ca4b5","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,1440]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"language","value":"pt"}]},"options":{}},"id":"96487d00-fdc8-456c-91e0-2ac2b97525fa","name":"Transcreve o áudio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-260,1440],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"assignments":{"assignments":[{"id":"7d7698ea-b4d3-4182-8fde-d87d62c9744d","name":"message","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"497bcba2-6ace-4b24-8ee4-95d9c86d41da","name":"Set Message from Audio","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-40,1440]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8f9e9d49-352e-40c0-b620-c7f2bae218ad","leftValue":"={{ $('Variáveis Globais').item.json.message_type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"28359abb-3b28-48a8-bf36-86b40ea9760e","name":"É audio?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2240,1520]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/speech","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"tts-1"},{"name":"input","value":"={{ $('HTTP Request').item.json.data[0].content[0].text.value }}"},{"name":"voice","value":"nova"},{"name":"response_format","value":"opus"}]},"options":{}},"id":"c7732ca6-678c-408f-8630-494a1cb5619a","name":"Gerar audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2500,1420],"credentials":{"openAiApi":{"id":"trONZBLzM3mWPjKv","name":"OpenAi - Blips"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"2f332bad-e100-4c8f-a6db-5341e1a6b993","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2720,1420]},{"parameters":{"method":"POST","url":"https://api.zapsterapi.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTQyMzA4NDIsImlzcyI6IjE2YTE0YThjLTIyNjItNDc1YS04NDFiLTg1NWNiNmJjYjYyMyIsInN1YiI6IjY0YzFhYmI3LTNiZDktNGUzYS05OGE5LTRiZDQ1ZTk2ZWJmMSJ9.yka24QqPV1qR6_ei3dzPOQrKKqXLTLS818OoHpf0SH8"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"to","value":"={{ $('Variáveis Globais').item.json.user_id }}"},{"name":"instance_id","value":"5f5670d7-8933-4673-9546-548f7d5a491c"},{"name":"media","value":"={{ $json.payload.parseJson() }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"827f4301-81dd-4299-9945-466ce563fb4e","name":"Envia audio p/ Whatsapp","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[3120,1420]},{"parameters":{"assignments":{"assignments":[{"id":"12131562-b4c6-4624-9386-07cd9ee7fcc7","name":"payload","value":"={\"base64\": \"{{ $json.data }}\" }","type":"string"}]},"options":{}},"id":"a7c3cb7f-d71f-42c1-b23b-4deb2aa7007a","name":"Set payload","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2920,1420]},{"parameters":{"workflowId":"voeDIWwr4i59X9wb","options":{}},"id":"9f1dc15b-835b-4be2-a586-825ebe3a0507","name":"Execute Workflow - buscar_contrato","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2880,600]},{"parameters":{"workflowId":"7JVRP2DKYUPts5Qh","options":{}},"id":"4d7c98b9-2251-4e02-b105-cd57b565b009","name":"Execute Workflow - buscar_data_instalacao","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2960,260]},{"parameters":{"workflowId":"voeDIWwr4i59X9wb","options":{}},"id":"887929fb-b3a0-4d06-98bc-3bbd631b5996","name":"Execute Workflow - buscar_creditos_iot","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[2900,-120]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_numeros_serie","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_numeros_serie"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"a30ac449-65ca-4a00-bdc5-19d2a41d4b34","leftValue":"={{ $json.properties.function.name }}","rightValue":"buscar_contrato","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"buscar_contrato"}]},"options":{}},"id":"15fe5969-59b3-45ec-8847-7c294c305a36","name":"Escolhe a tool que deve ser utilizada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2520,720]}],"connections":{"Merge - User":{"main":[[{"node":"Possui Thread?","type":"main","index":0}]]},"Criar Thread":{"main":[[{"node":"Set1","type":"main","index":0}]]},"Run Assistant":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Get Run Status":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"É chat?","type":"main","index":0}]]},"Possui Thread?":{"main":[[{"node":"Add thread_id","type":"main","index":0}],[{"node":"Criar Thread","type":"main","index":0}]]},"Lista Runs":{"main":[[{"node":"If","type":"main","index":0}]]},"Cancel Run":{"main":[[{"node":"Criar a Mensagem","type":"main","index":0}]]},"Captura Tool Calls":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Separa Arguments","type":"main","index":0}]]},"Separa Arguments":{"main":[[{"node":"Escolhe a tool que deve ser utilizada","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Insere Output","type":"main","index":0}]]},"Insere Output":{"main":[[{"node":"Get Run Status","type":"main","index":0}]]},"Set Message from Image":{"main":[[{"node":"Merge - Message","type":"main","index":0}]]},"Merge - Message":{"main":[[{"node":"Criar a Mensagem","type":"main","index":0}]]},"Criar a Mensagem":{"main":[[{"node":"Run Assistant","type":"main","index":0}],[{"node":"Lista Runs","type":"main","index":0}]]},"Set Message from Text":{"main":[[{"node":"Merge - Message","type":"main","index":1}]]},"MongoDB - Get User":{"main":[[{"node":"If - User Exists","type":"main","index":0}]]},"If - User Exists":{"main":[[{"node":"Merge - User","type":"main","index":0}],[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"MongoDB - Create User","type":"main","index":0}]]},"MongoDB - Create User":{"main":[[{"node":"Merge - User","type":"main","index":1}]]},"Set1":{"main":[[{"node":"MongoDB","type":"main","index":0}]]},"MongoDB":{"main":[[{"node":"Merge - User","type":"main","index":1}]]},"If":{"main":[[{"node":"Cancel Run","type":"main","index":0}]]},"Add thread_id":{"main":[[{"node":"Tipo de Mensagem","type":"main","index":0}]]},"Response":{"main":[[{"node":"Tool Call ID - get_books","type":"main","index":0}]]},"Tool Call ID - get_books":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Execute Workflow - buscar_numeros_serie":{"main":[[{"node":"Response","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}],[],[{"node":"HTTP Request","type":"main","index":0}],[],[{"node":"Captura Tool Calls","type":"main","index":0}]]},"Convert to Webhook":{"main":[[{"node":"Variáveis Globais","type":"main","index":0}]]},"Variáveis Globais":{"main":[[{"node":"MongoDB - Get User","type":"main","index":0}]]},"É chat?":{"main":[[{"node":"Resposta chat","type":"main","index":0}],[{"node":"É audio?","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Convert to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Variáveis Globais","type":"main","index":0}]]},"Tipo de Mensagem":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Set Message from Text","type":"main","index":0}],[{"node":"Baixar Áudio","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Set Message from Image","type":"main","index":0}]]},"Baixar Áudio":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Transcreve o áudio","type":"main","index":0}]]},"Transcreve o áudio":{"main":[[{"node":"Set Message from Audio","type":"main","index":0}]]},"Set Message from Audio":{"main":[[{"node":"Merge - Message","type":"main","index":1}]]},"É audio?":{"main":[[{"node":"Gerar audio","type":"main","index":0}],[{"node":"Envia Whatsapp","type":"main","index":0}]]},"Gerar audio":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Set payload","type":"main","index":0}]]},"Set payload":{"main":[[{"node":"Envia audio p/ Whatsapp","type":"main","index":0}]]},"Execute Workflow - buscar_contrato":{"main":[[{"node":"Response","type":"main","index":0}]]},"Escolhe a tool que deve ser utilizada":{"main":[[{"node":"Execute Workflow - buscar_numeros_serie","type":"main","index":0}],[{"node":"Execute Workflow - buscar_contrato","type":"main","index":0}]]},"Execute Workflow - buscar_data_instalacao":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8413c3d1-2c10-4e01-ae95-992b980da925","triggerCount":3,"tags":[{"createdAt":"2024-05-08T01:53:37.021Z","updatedAt":"2024-05-08T01:53:37.021Z","id":"HJrJfNUAaBoLOV2q","name":"Suporte Neuronio"}]}